{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-0"></div>
        <div class="col-lg-6 col-md-8 col-sm">
            <div class="card ">
                <div class="card-header">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ url_for('coreBP.create_db') }}" class="btn btn-danger">Utwórz DB</a> Tworzenie struktury bazy danych - !!!</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-0"></div>
    </div>

</div>









{% endblock content %}